Source: libnet-server-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Alexander Wirt <formorer@debian.org>,
           gregor herrmann <gregoa@debian.org>,
           Xavier Guimard <x.guimard@free.fr>
Section: perl
Testsuite: autopkgtest-pkg-perl
Priority: optional
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: libcgi-pm-perl | perl (<< 5.19),
                     libio-multiplex-perl,
                     libio-socket-inet6-perl,
                     libio-socket-ssl-perl,
                     libnet-ssleay-perl,
                     libsocket6-perl,
                     perl
Standards-Version: 4.1.3
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-perl/packages/libnet-server-perl.git
Vcs-Git: https://anonscm.debian.org/git/pkg-perl/packages/libnet-server-perl.git
Homepage: https://metacpan.org/release/Net-Server

Package: libnet-server-perl
Architecture: all
Depends: ${misc:Depends},
         ${perl:Depends},
         libcgi-pm-perl | perl (<< 5.19),
         libio-multiplex-perl,
         libio-socket-inet6-perl,
         libio-socket-ssl-perl,
         libnet-cidr-perl,
         libnet-ssleay-perl,
         libsocket6-perl
Suggests: liblog-log4perl-perl
Description: extensible, general perl server engine
 Net::Server is an extensible, general perl server engine that combines the
 good properties from Net::Daemon, NetServer::Generic, and Net::FTPServer;
 and borrows various concepts from the Apache webserver.
 .
 Features include:
 .
  * Single Server Mode
  * Inetd Server Mode
  * Preforking Simple Mode (PreForkSimple)
  * Preforking Managed Mode (PreFork)
  * Forking Mode
  * Multiplexing Mode using a single process
  * Multi port accepts on Single, Preforking, and Forking modes
  * Simultaneous accept/recv on tcp, udp, and unix sockets
  * Safe signal handling in Fork/PreFork avoids perl signal trouble
  * User customizable hooks
  * Chroot ability after bind
  * Change of user and group after bind
  * Basic allow/deny access control
  * Customized logging (choose Syslog, log_file, or STDERR)
  * HUP able server (clean restarts via sig HUP)
  * Dequeue ability in all Fork and PreFork modes.
  * Taint clean
  * Written in Perl
  * Protection against buffer overflow
  * Clean process flow
  * Extensibility
